<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pragyan.pragyantshirtapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="org.pragyan.pragyantshirtapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.pragyan.pragyantshirtapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/download"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:theme="@style/AppTheme">
        <activity
            android:name="org.pragyan.pragyantshirtapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.pragyan.pragyantshirtapp.ClustersActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.EventsActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.UpcomingActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            android:label="@string/app_name" >
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.pragyan.pragyantshirtapp.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.QRScreen"
            android:label="@string/title_activity_qrscreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />

        <receiver
            android:name="org.pragyan.pragyantshirtapp.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.delta.pragyan16.gcmtest" />
            </intent-filter>
        </receiver>

        <service android:name="org.pragyan.pragyantshirtapp.GCMMessageHandler" />

        <activity
            android:name="org.pragyan.pragyantshirtapp.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />

        <service
            android:name="org.pragyan.pragyantshirtapp.GCMRegisterService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="org.pragyan.pragyantshirtapp.Notify"
            android:label="@string/title_activity_notify"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="org.pragyan.pragyantshirtapp.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.Holo"
            android:screenOrientation="portrait"/>

        <receiver android:name=".UpcomingWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="MY_OWN_WIDGET_UPDATE" />


            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upcoming_widget_info" />
        </receiver>
    </application>

</manifest>
